src/main/mule/janardhan.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="55384e6b-e7de-4bb6-97d4-430cc7a3d444" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="janardhanFlow" doc:id="0cddc281-a799-49ac-b753-d85b8ee4b09d" >
		<http:listener doc:name="Listener" doc:id="bde29f1e-e12d-4623-92bb-88e5dca5a4b6" config-ref="HTTP_Listener_config" path="/janardhan"/>
		<logger level="INFO" doc:name="Logger" doc:id="e91cedac-33c8-48b2-a560-b506eb9cf4f0" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="76930b75-7f71-4b73-811d-85a15222eaf0" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"current time date" : now()
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
